

body
{
    color: black;
    overflow: hidden;
    margin: 0;
}

button
{
    display: none;
    opacity: 0;
    position: relative;
    top:55%;
    left: 47.5%;
}

 .wrap
{
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity :0.9 ;
    font-size: 20px;
    color: white;
    background-color: black;
    height: 100vh;
    width: 100%;
    font-size: 35px;
    position: absolute;
}  
 
 
.gamecontainer
{
    text-align: center;
    
    opacity: 1;
} 






.cell
{

    opacity: 1;
    width: 75px;
    height: 75px;
    border: 2px solid white;
    text-align: center;
    font-size: 50px;
    color: wheat;
    
     
}


.box
{

    opacity: 1;
    width: 235px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin: auto;
    
    
}



